services:
  db:
    image: mysql:8.0
    container_name: mysql
    env_file:
      - .env
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
    networks:
      - django-network
    ports:
      - 3307:3306
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: django
    env_file:
      - .env
    ports:
      - 8000:8000
    depends_on:
      - db
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000"]
      interval: 30s
      timeout: 10s
      retries: 3
    environment:
      - DATABASE_URL=mysql://${MYSQL_USER}:${MYSQL_PASSWORD}@db:3306/${MYSQL_DATABASE}
    networks:
      - django-network
    develop:
      watch:
        - path: ./config
          target: config/
          action: sync+restart
        - path: ./requirements.txt
          action: rebuild

volumes:
  mysql_data:
networks:
  django-network:
    driver: bridge